{% extends 'auction/base.html' %}
{% block content %}
<style>
    .content-space {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
}
</style>


{% if user.is_authenticated %}
<small><b>Welcome {{user.username}}</b></small>
{% endif %}

<Title>Auction Home Page</Title>
<h2><b>Auctions</b></h2>
{% if auctions %}
{% for auction in auctions %}
    <div class="content-section">
        <div>
            <!-- Here we are updating the time t-->
            <h2>{{auction.title}}</h2>
            <small style="margin-left: 10px">{{auction.date}}</small>
        </div>
        <img class="rounded-circle article-img" src="{{auction.auctioneer.profile.image.url}}" alt="Auctioneer's image">
        <p> </p>
        <div class="media-body content-section">
            {% if auction.image %}
            <img style="border: solid 5px" src="{{auction.image.url}}" alt="image of auction item">
            {% endif %}
            <h4>Description</h4>
            <p class="content-space" >{{auction.description}}</p>
        </div>
        <a href="{% url 'auctionDetails' auction.id %}"><button type="button" class="btn btn-outline">View Details</button></a>
    </div>

{% endfor %}
{% else %}
<p class="text-muted">There are currently no auctions running right now</p>
{% endif %}
{% endblock content %}
