{% extends "auction/base.html" %}
{% block content %}

{% if related %}
{% for bid in related %}
<h3>Here are the bids for {{auction.title}}</h3>
<div class="content-section" style="border: dashed 3px; margin-top: 25px">
    <small style="margin-left: 10px">{{bid.date}}</small>
    <div style="display: flex; margin-top: 15px">
    <img class="rounded-circle article-img" src="{{auction.auctioneer.profile.image.url}}" alt="Bidders Image">
    {% if bid.bidder.code.codeName %}
    <h4 style="margin-left: 20px">Bidder ID: {{bid.bidder.code.codeName}}</h4>
    {% endif %}
    </div>
    <h5 style="margin-top: 30px">Amount: ${{bid.amount}}</h5>
    <!-- Here we will be sending the auction id and the bid id to the passBid function in order to register that item
    under the selected user -->
    <a href="{% url 'passBid' bid_id=bid.id %}">
    <button type="button" class="btn btn-outline" style="background-color:  #4CAF50">
        Select Bid
    </button>
    </a>
    <button type="button" class="btn btn-outline" style="background-color: #428bca">
        Contact Bidder
    </button>

</div>
{% endfor %}
{% else %}
<h3>There are currently no bids for {{auction.title}}</h3>
{% endif %}
{% endblock %}