{% extends 'auction/base.html' %}
{% block content %}
<title>Forgot Password</title>
<h2 style="text-align: center">Forgot your password, no prob, we are here to help</h2>
<form action="#" method="POST">
    <!-- Always remember to add the csrf token so that your form can work-->
    {% csrf_token %}
    <label for="username">
        Please type in your username here
    </label>
    <input name="username" id="username" type="text">
    <button type="submit" style="background-color: blue">Submit</button>
</form>

{% endblock %}