{% extends 'auction/base.html' %}
{% block content %}
<title>Password Reset</title>
<h2>Here is the password Reset Page</h2>
{% if Error %}
<script>
    /* We will alert the user of the error that they made if the password is invalid*/
    alert(error);
</script>
{% endif %}
<form action="#" method="POST">
    {% csrf_token %}
    <label>
        Type in your new password
    </label>
    <input id="password" type="text" name="newPass" placeholder="insert password here" required>
    <p><small>your password can’t be too similar to your other personal information.</small>
    <br><small>Your password must contain at least 8 characters.</small>
    <br><small>Your password can’t be a commonly used password.</small>
        <br><small>Your password can’t be entirely numeric.</small></p>
    <button type="submit">Submit</button>
</form>

{% endblock %}