{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


  <div class="content-section">
    <form action="#" method="post">
      {% csrf_token %}
      <!-- Used to group the elements within our form-->
      <fieldset class="form-group">
        <!-- Gives a title to our form-->
        <!-- -->
        <legend class="border-bottom mb-4">
          Log In
        </legend>
        <!-- the "as_p" helps to split up our firm a little-->
        {{form|crispy}}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-info">Login</button>
      </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
          need an account? <a class="ml-2" href="{% url 'user-register'}">Sign Up Now</a>
        </small>
    </div>
  </div>
{% endblock %}