{% extends "blog/base.html" %}

{% block content %}
<!-- we will use this to identify who the post belong to and how many they have. We are also going to give this h1 tag
a margin button class as well-->
<h1 class="mb-3">Post By {{ view.kwargs.username }} ({{page_obj.paginator.count}})</h1>
{% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{%url 'user-post' post.author.username%}"> {{ post.author }} </a>
      <!-- Here we are using a filter for date that will help us format the date info that we get-->
      <!-- In this case we will use "F d, Y" ot get the full month, plus the day, and the Full year-->
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
    <!-- We will use "{% url 'post-detail' post.id %}" in order to pass the specific object that we want into
    the post_details.html page. The "post.id" variable that we pass in will decipher the exact object that we want
    within the database-->
    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %}

<!-- Checks to see if the blogs are split into pages-->
{% if is_paginated %}
  {% if page_obj.has_previous %}
      <!-- This will display the first page as a selection option only if a previous page exist-->
      <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
      <!-- This will allow the user to navigate to the prior page -->
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <!-- We use this to highlight the page that we are on-->
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
        <!-- We use this to show the next two pages after that (displaying a total of three-page numbers to select-->
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
      <!-- Allows user to access the next following page-->
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
      <!-- Allows user to access the last page available -->
      <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
  {% endif %}
{% endif %}

{% endblock content %}